CSS:

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #b90505;
    color: #fff;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header .search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

header .search-bar input {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
    width: 300px; /* Largura da barra de busca */
}

header .search-bar button {
    background-color: #790606;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}


/* Banner */
.banner img {
  width: 100%;
  height: 500px;
  padding-left: 30px;
  padding-right: 30px;
  display: block;
  margin: 20px 0 20px;
}

/* Produtos */
.produtos {
  padding: 20px;
  background-color: #fff;
}

.produtos h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #b90505;
}

.produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.produto-item {
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.produto-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.produto-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.produto-item p {
  font-size: 18px;
  color: #28a745;
  margin-bottom: 10px;
}

.produto-item button {
  background-color: #b90505;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.produto-item button:hover {
  background-color: #b90505;
}

/* Rodapé */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}